.button, .numberButton,.operatorButton, .equalsButton{
    width: 5rem;
    height: 3rem;
    border: 1px solid #BBB;
    border-radius: 5%;
    font-size: 1.5rem;
}

.numberButton{
    background-color: #F4F4F4;
}

.operatorButton{
    background-color: #BBB;
}

.equalsButton{
    background-color: rgb(71, 141, 221);
    color: white;
}

.resultLabel{
    border: 1px solid #BBB;
    display: block;
    font-size: 1.5rem;
    text-align: end;
    padding: 5px;   
}

.calcTable{
    margin-top: 100px;
    border: 2px solid #BBB;
}

th, td{
    padding: 10px;
}